<div class="row border-bottom" style="position:fixed; z-index:1;">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            @*<img class="img-responsive" height="100" src="~/Content/Capturar.PNG" alt="OncoProd" />*@
        </div>
    </nav>
</div>